input {
  width: 250px;
  height: 24px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
}

.title {
  font-size: 30px;
  margin-left: 300px;
}

.description-container {
  display: flex;
}

.description-list {
  margin-right: 100px;
}

.description-item {
  list-style: none;
  font-weight: bolder;
  font-size: 20px;
}

.language-item,
p {
  font-weight: lighter;
}

.list-countries {
  font-size: 20px;
}
